@import url(http://fonts.googleapis.com/css?family=Lato);
/*lato, for headers*/
@import url(http://fonts.googleapis.com/css?family=Merriweather);
/*merriweather for content*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* emphasis */
@import url(https://fonts.googleapis.com/css?family=Lobster);
input:focus,select:focus,textarea:focus,button:focus { outline: none;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color: none;color:inherit;}
a{
	font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-decoration: none;
}
a:hover{ text-decoration: none;}
/* reusable classes */
.no-padding{ padding: 0; }
.regular-padding-section{ padding: 60px 60px 80px 60px; }
.regular-padding-section-except-bottom{ padding: 60px 60px 0px 60px; }
.padding-on-sides{ padding: 0px 60px; }
.half-width{ width: 50vw; }
.full-width{ width: 100%; }
.center-div{ margin: 0 auto; }
.center-text{ text-align: center;}
.main-header{
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	margin-bottom: 40px;
	margin-top: 0px;
}
.main-paragraph{
	font-size: 18px;
	font-family: 'Merriweather';
	margin-bottom: 30px;
}
.main-sub-paragraph{
	font-size: 18px;
	font-family: 'Merriweather';
	margin-bottom: 30px;
}
.main-list{
	font-size: 16px;
	font-family: 'Merriweather';
}
.main-list li{ margin-bottom: 10px;}

.lobster{ font-family: 'Lobster'; letter-spacing: 0.7px;}
.roboto { font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif }
.merriweather { font-family: 'Merriweather', serif; }
.lato { font-family: 'Lato',sans-serif; }

.italic{ font-style: italic;}
.bold {font-weight: 900; }

.gray-background{ background-color: #fafafa; }
.light-blue-background{ background-color: #cae5ff; }
.white-background { background-color: #FCFFFD; }
.orange-background { background-color: #DC493A;}
.royal-blue-background{ background-color: #4062BB; }
/*  red background may take over for orange */
.red-background { background-color: #D33F4B; }

.dark-blue-font{ color: #6f8ab7 }
.light-blue-font{ color: #cae5ff;}
.orange-font{color: #DC493A;}
.white-font{ color: #FCFFFD; }

.light-blue-underline{
	padding-bottom: 5px;
	border-bottom: 3px solid #cae5ff;
}
.orange-underline{
	padding-bottom: 5px;
	border-bottom: 3px solid #DC493A;
}
.dark-blue-underline{
	padding-bottom: 5px;
	border-bottom: 3px solid #6f8ab7;
}

.line-right::after{
	position: absolute;
	content: '';
	display: block;
	width: 100vw;
	height: 100px;
	top: -55px;
	background-color: #4062BB;
	transform: skewY(-2deg);
	z-index: 2;
}
.line-left::after{
	position: absolute;
	content: '';
	display: block;
	width: 100vw;
	height: 100px;
	top: -55px;
	background-color: #4062BB;
	transform: skewY(2deg);
	z-index: 2;
}

/* home page */

.main-image-container{
	width: 100%;
	height: 70vh;
	min-height: 250px;
	max-height: 600px;
	background: url('images/church-copy.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	/* filter:grayscale();/ */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	border-bottom: 5px solid #cae5ff;
}
.main-logo-container{
	position: absolute;
	padding: 30px 50px;
	background-color: rgba(0,0,0,0.4);
	color: #fafafa;
	top:25%;
	left: 30%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.main-navbar{
	height: 65px;
	width: 100%;
	background-color: #FCFFFD;
	box-shadow: 0 3px 2px -2px rgba(200,200,200,.15);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.main-navbar div a{
	color: #6f8ab7;
	text-transform: capitalize;
	font-size: 16px;
	letter-spacing: 0.2em;
	margin:0px 15px;
	padding-bottom: 5px;
	font-weight: 300;
	/* border-bottom: 2px solid #6f8ab7; */
}
.main-navbar div a.active-link{
	font-weight: 900;
	color: #DC493A;
	border-bottom: 2px solid #DC493A;
}

#header{
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: transparent;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.header-flexbox{
	display: flex !important;
	align-items: center;
	width: 150px;
	height: 50px;
	float: left;
	/*margin-bottom: 15px;*/
	/*padding-bottom: 5px;*/
	margin-top: 5px;
	color: white;
	flex-shrink: 2;
	/* float: left; */
}
.header-flexbox a{
	color:white!important;
	font-family: "Montserrat";
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.header-flexbox a:hover{
	text-decoration: none;
}
.who-we-are-container{
	/* margin: 0px 100px; */
}
.mbc-description{
	margin: 50px 30px;
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
}

#myCarousel {
	width: 70%;
}
.service-time-flexbox{
	display: flex;
	justify-content: center;
	align-items: center;
}
.service-time-flexbox div{
	margin: 10px 25px 0px 25px;
	font-size: 20px;
}
.service-time-flexbox div span{
	font-weight: 900;
	margin-right: 8px;
}
.other-meeting-times-container{
	margin-top: 60px;
}
.other-meeting-times-container a{
	background-color: #4062BB;
	/* color: #fafafa; */
	border: 2px solid #cae5ff;
	border-radius: 10px;
	padding: 13px 30px;
	font-size: 20px;
	font-weight: 900;
	text-transform: capitalize;
	width: 300px;
	height: 45px;
	line-height: 45px;
}
.location-container p{
	display: inline-block;
	font-size: 16px;
	line-height: 40px;
	margin-bottom: 0px;
	margin-left: 20px;
	vertical-align: bottom;
}
.location-map{
	width: 80%;
	margin: 40px auto;
}
.google-map{
	width: 100%;
	height: 500px;
}
.what-to-expect-list{
	margin-top: 20px;
}
.what-to-expect-list li{
	margin-top: 10px;
	font-size: 18px;
}

/* contact us page  */
.contact-us-container{

}
.contact-us-container input, .contact-us-container textarea {
	display: block;
	font-size: 14px;
	border: none;
	margin-bottom: 20px;
	background-color: #FCFFFD;
	padding: 5px 10px;
	-webkit-box-shadow: 3px 3px 8px -1px rgba(225,225,225,0.75);
	-moz-box-shadow: 3px 3px 8px -1px rgba(225,225,225,0.75);
	box-shadow: 3px 3px 8px -1px rgba(225,225,225,0.75);
	border-radius: 5px;
	color:#DC493A!important;
}
.contact-us-container label{
	color: #DC493A;
	font-weight: 900;
	margin-bottom: 10px;
}
.email-input{width:300px; height:30px;}
.message-input{
	width:100%;
	height:140px;
	max-height: 300px;
  max-width: 100%;
}

.submit-input{
	padding:0!important;
	background-color:  #fafafa!important;
	margin: 40px auto;
  border: 2px solid #DC493A!important;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  text-transform: capitalize;
  width: 200px;
  height: 45px;
  line-height: 45px;
}
