@import url(http://fonts.googleapis.com/css?family=Lato);
/*lato, for headers*/
@import url(http://fonts.googleapis.com/css?family=Merriweather);
/*merriweather for content*/
@import url(http://weloveiconfonts.com/api/?family=brandico);
/*icons*/

.background-color{
background: url('images/background_edited.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 100% 100%;
padding:0;

}


.navbar-header{
	background-color: transparent;
}


.nav{
	background-color: transparent;
	padding: 2px 0;
	width:100%;
}


.navbar-brand{
	/*font-size:3em;*/
	margin-right: 25px;
}

.navbar-brand img{
	/*display:none;*/
	/*height: 110px;*/
	height: 52px;
	width: auto;
}

.navbar-nav li a{
	font-size:22px;
	font-family: "Montserrat";
	margin-top: 13px;
	color:white!important;
	/*margin-bottom: 30px;*/

	/*margin-right: 100px;*/
	/*line-height: 80px;*/
	/*height:80px;*/

}
.navbar-nav li{
	margin-left: 100px;
}





.navbar-brand, #menu-button,.navbar-nav li a{
	/*line-height: 100px;
	height:100px;*/
	padding-top: 0;
	/*margin-left: 40px;*/

}

.space{
	overflow: hidden;
	width: 100%;
	height:100px;

	 }



.main-block{
	/*background-color: #eeeeee;*/
/*here*/

	width: 100%;
	height: 600px;
	left:0;
	color:#337ab7;
	padding-left: 15px;
	padding-right: 15px;

}

.carousel-inner .item{
	height:600px;
}

.carousel-inner .item img{
	position: absolute;
	top:0;
	left: 0;
	min-width: 100%;
	min-height: 100%;


}
.sub-block{

	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	display:block;

}

.sub-block h3 a{
	color:white;
	font-family: 'lato',sans-serif;
	font-size: 35px;
}
.sub-block p{
	border-left: white 4px solid;
	border-right:  white 4px solid;
	padding-left: 5px;
	padding-right: 5px;
	font-family:'Merriweather', serif;
	font-size: 15px;
	height:120px;
	color: white;
	overflow: auto;

}


.btn{
	margin-top: 10px;
}

.service{
	height:200px;
	background-color: #f5f5f5;
	position: relative;
	padding-top: 20px;
	text-align: center;
}
.service-time{
	list-style-type: none;


}
.service-time li{
	display: inline-block;
	padding:20px;
	font-size: 20px;
	font-family:'Merriweather', serif;
}

#map{
	height:500px;
	width:1000px;
	overflow: hidden;
}

/*about-us*/
.readable{
		background: black!important;
    background: rgba(0, 0, 0, 0.25)!important;
}









@media(max-width: 1400px){
	/*.sub-block{
		padding-top: 110px;
	}*/
}


@media(max-width: 1024px){
	/*.remove-when{
		height:0px;
	}*/

	.carousel{
		height:300px;
	}
	.main-block{
		height:300px;

	}

	.sub-block{
		padding-top: 300px
	}
	.navbar-brand img{
		max-height:  40px;
		height:40px;
		width:auto;
		margin-top: 4px;
    }


}


@media(max-width: 768px){

 #menu-button,.navbar-nav li a{
	line-height: 50px;
	height:50px;
	}
	.navbar-brand img{
		max-height: 66px;
		height: 66px;
		margin-top: 0;
	}
	.navbar-toggle{
		/*padding: 0 10px;
		margin-top: 14px;*/
	}

    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

	/*.carousel-inner .item{
	height:400px;
	}
	.carousel-inner .item img{
	height:400px;
	}
*/
.service-time li{
	display: block;
	padding:0;
	font-size: 18px;
	}

	#map{
		display:none;

	}
	.map-small{
		display:block;
	}

	.footer{
	display: block;
	}

	.carousel .item{
		height:300px;
		width:auto;

	}
	.main-block{
		height:150px;

	}
	.sub-block{
		padding-top: 150px
	}

	/*event page*/
	.panel .panel-body p{
		font-size: 13px;
	}
	.header-font a{
		font-size:18px;
	}
	h1#panel-head{
		font-size: 40px;
	}


}

@media(max-width: 420px){

	.carousel .item{
		height:0px;
		width:auto;

	}
	.main-block{
		display: none;
	}
	.service-time li {
	display: block;
	padding:0;
	font-size: 14px;
	}
	.sub-block{
		padding-top: 70px;
	}
	.sub-block p{
		font-size: 13px;
	}

	.remove-when{
		display: none;
	}
	.navbar-nav li a{
	font-size:10px;
	}

	.background-color{
	background:  #0F5F7A;


	}
	.space{
		display:none;
	}

	.panel .panel-body p{
		font-size: 13px;
	}

}
@media (max-width: 350px) {
	.service{padding-top: 1px;}
}
